@model Aprendizado.Entity.Telefone

@{
    ViewBag.Title = "Edit";
}

<h2>ViewBag.Titulo</h2>

@using (Html.BeginForm()) {

    <fieldset>
        <legend>Telefone</legend>

        @Html.HiddenFor(model => model.idTelefone)

        <div class="editor-label">
            Tipo
        </div>
        <div class="editor-field">
            @Html.DropDownList("idTipoTelefone")
        </div>

        <div class="editor-label">
            Numero
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
        </div>

        <p>
            <input type="submit" value="Salvar" onclick="return validar()" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
 
 
@if (ViewBag.Erro != null && ViewBag.Erro != "")
{
    <script>
        alert('@ViewBag.Erro');
    </script>
}

<script>
    function validar() {
        if ($("#Numero").val() == "") {
            alert('O numero é obrigatório');
            return false;
        }

        return true;
    }
</script>