@model Aprendizado.Class.cabecalhoAvaliacao

@{
    ViewBag.Title = "EditCabecalho";
}


<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Gerenciamento de Curso<small> - @ViewBag.Titulo - </small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        @using (Html.BeginForm())
        {
            <!-- /. ROW  -->

            <div class="form-group">
                @Html.Label("Curso", new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("idCurso", null, new { @class = "form-control" })
                </div>
            </div>
            
            <br />
            <br />
            
            <div id="divTurmas">
                <div class="form-group">
                    @Html.Label("Turma", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("idTurma", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            
            <br />
            
            <div id="divDisciplinas">
                <div class="form-group">
                    @Html.Label("Disciplina", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("idDisciplina", null, new { @class = "form-control" })
                    </div>
                </div>
                <br />
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Identificacao, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Identificacao, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.DataAbertura, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.DataAbertura, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.DataEncerramento, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.DataEncerramento, new { @class = "form-control" })
                </div>
            </div>
            
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <input type="button" class="btn btn-default" value="Voltar" onclick="    history.go(-1)">
                    <input type="submit" value="Salvar" class="btn btn-default" onclick="    return validar();" />
                </div>
            </div>
        }
    </div>
</div>
<script>
    function validar() {
        if ($("#idDisciplina").val() == "") {
            alert('A Disciplina é obrigatória');
            return false;
        }
        if ($("#idTurma").val() == "") {
            alert('A Turma é obrigatória');
            return false;
        }

        if ($("#Identificacao").val() == "") {
            alert('A Identificação é obrigatória');
            return false;
        }

        if ($("#Titulo").val() == "") {
            alert('O Título é obrigatório');
            return false;
        }

        if ($("#Descricao").val() == "") {
            alert('A Identificação é obrigatória');
            return false;
        }

        return true;
    }
</script>

<script>
    $("#divTurmas").hide();
    $("#idCurso").change(function () {
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "/Atividade/ListaTurmas",
            data: { curso: $("#idCurso").val() },
            success: function (dados) {
                var html = "";
                $.each(dados["turmas"], function (index, obj) {
                    html = html + "<option value='" + obj.Value + "'>"
                                + obj.Text + "</option>";
                    //alert(obj.Value + " " + obj.Text);
                });
                $("#idTurma").html(html);
                $("#divTurmas").show();
            }
        });

    });
</script>

<script>
    $("#divDisciplinas").hide();
    $("#idCurso").change(function () {
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "/Atividade/ListaDisciplinas",
            data: { curso: $("#idCurso").val() },
            success: function (dados) {
                var html = "";
                $.each(dados["disciplinas"], function (index, obj) {
                    html = html + "<option value='" + obj.Value + "'>"
                                + obj.Text + "</option>";
                    //alert(obj.Value + " " + obj.Text);
                });
                $("#idDisciplina").html(html);
                $("#divDisciplinas").show();
            }
        });

    });
</script>



