@model Aprendizado.Entity.Endereco

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{

    <fieldset>
        <legend>Endereco</legend>

        @Html.HiddenFor(model => model.idEndereco)

        <div class="editor-label">
            Estado
        </div>
        <div class="editor-field">
            @Html.DropDownList("UF","Selecione o Estado")
        </div>

        <div id="divCidades">
            <div class="editor-label">
                Cidade
            </div>
            <div id="divCidades">
                <div class="editor-field">
                    @Html.DropDownList("CidadeId","Selecione a Cidade")
                </div>
            </div>
        </div>

        <div class="editor-label">
            CEP
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CEP)
        </div>

        <div class="editor-label">
            Logradouro
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Logradouro)
        </div>

        <div class="editor-label">
            Numero
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
        </div>

        <div class="editor-label">
            Complemento
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Complemento)
        </div>

        <p>
            <input type="submit" value="Salvar" onclick="return validar()" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>


@if (ViewBag.Erro != null && ViewBag.Erro != "")
{
    <script>
        alert('@ViewBag.Erro');
    </script>
}

<script>
    function validar() {
        if ($("#CEP").val() == null) {
            alert('O CEP é obrigatorio');
            return false;
        }

        if ($("#Logradouro").val() == "") {
            alert('O Logradouro é obrigatório');
            return false;
        }

        if ($("#Numero").val() == 0) {
            alert('O Numero é obrigatório');
            return false;
        }

        if ($("#Complemento").val() == 0) {
            alert('O Complemento é obrigatório');
            return false;
        }

        return true;
    }
</script>

<script>
    $("#divCidades").hide();
    $("#UF").change(function () {

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "/Endereco/ListaCidades",
            data: { estado: $("#UF").val() },
            success: function (dados) {
                var html = "";
                $.each(dados["cidades"], function (index, obj) {
                    html = html + "<option value='" + obj.Value + "'>"
                                + obj.Text + "</option>";
                    //alert(obj.Value + " " + obj.Text);
                });
                $("#CidadeId").html(html);
                $("#divCidades").show();
            }
        });

    });
</script>
