@model Aprendizado.Entity.Aluno

@{
    ViewBag.Title = "EditAluno";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Turma do aluno @ViewBag.NomePessoa</h4>
        <hr />

        @Html.HiddenFor(model => model.idPessoa)
        @Html.HiddenFor(model => model.idAluno)

        <div class="form-group">
            @Html.LabelFor(model => model.Turma,  new{ @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTurma")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Matricula, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Matricula, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <br />   
            <input type="button"  class="btn btn-default" value="Voltar" onClick="    history.go(-1)">  
            <input type="submit" value="salvar"  class="btn btn-default" onclick="    return validar();"/> 
          </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@if (ViewBag.Error != null && ViewBag.Error != "")
{
    <script>
        alert('@Html.Raw(ViewBag.Error)');
    </script>
}

<script>
    function validar() {
        
        if ($("#idTurma").val() == "") {
            alert("Informe uma Turma");
            return false;
        }

        if ($("#Matricula").val() == "") {
            alert("Informe uma Matricula");
            return false;
        }

        return true;
    }

</script>