@model IEnumerable<Aprendizado.Entity.Telefone>

@{
    ViewBag.Title = "ListaTelefones";
}

<h2>Telefones do @ViewBag.NomePessoa</h2>

<p>
    @Html.ActionLink("Novo", "EditTelefone", new { idTelefone = 0, idPessoa = @ViewBag.idPessoa })
    @Html.ActionLink("Voltar", "Edit", new { id = @ViewBag.idPessoa })
</p>
<table>
    <tr>
        <th>
            Tipo Telefone
        </th>
        <th>
            Número
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTelefone.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "EditTelefone", new { idTelefone = item.idTelefone, idPessoa = @ViewBag.idPessoa }) |
            @Html.ActionLink("Delete", "DeleteTelefone",
                new { idTelefone = item.idTelefone }, 
                new { @onclick = "return confirm('Confirma Exclusão?');" })
        </td>
    </tr>
}

</table>
