@model IEnumerable<Aprendizado.Class.ErradaTema>

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Olá @User.Identity.Name!
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        @*===============NOTIFICAÇÕES=================*@
        <div class="row">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-green">
                        <div class="panel-body">
                            <span style="font-size: 100px"><i class="glyphicon glyphicon-ok"></i></span>
                            <h3>@ViewBag.qtdAcertos</h3>

                        </div>
                        <div class="panel-footer back-footer-green">
                            Respostas Corretas

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">

                    <div class="panel panel-primary text-center no-boder bg-color-red">
                        <div class="panel-body">
                            <span style="font-size: 100px"><i class="glyphicon glyphicon-remove"></i></span>
                            <h3>@ViewBag.qtdErros</h3>
                        </div>
                        <div class="panel-footer back-footer-red">
                            Respostas Erradas
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-blue">
                        <div class="panel-body">
                            <span style="font-size: 100px"><i class="glyphicon glyphicon-list-alt"></i></span>
                            <h3>15,823 </h3>
                        </div>
                        <div class="panel-footer back-footer-blue">
                            Atividades em Aberto

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-brown">
                        <div class="panel-body">
                            <span style="font-size: 118px"><i class="glyphicon glyphicon-cog"></i></span>
                            <h3></h3>
                        </div>
                        <div class="panel-footer back-footer-brown">
                            Configurações

                        </div>
                    </div>
                </div>
            </div>


        </div>

        @*=================GRAFICOS==================*@
        <div class="row">
            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Respostas Incorretas Por Tema
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Atividades Realizadas Por Disciplina
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart-Disciplina"></div>
                        </div>
                    </div>            
                </div>



            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ranking de Acertos
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart-Acertos"></div>
                        </div>
                    </div>            
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">                     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ranking de Erros
                        </div>
                        <div class="panel-body">
                            <div id="morris-bar-chart-Erros"></div>
                        </div>
                    </div>            
                </div>

                    
                <input type="hidden" id="teste" value="[]" />
            </div>
        </div>
    </div>
</div>


<script>


    window.onload = function () {
        
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "ListaErradasTema",
            data: { idAluno: @ViewBag.idAluno },
            success: function (dados) {
                if(dados.listaErradasTema.length == 0){
                    return;
                }
                var lista = [];
                for(var i in dados.listaErradasTema){
                    var obj = dados.listaErradasTema[i];
                    lista.push({label:obj.Tema, value:obj.QtdErradas});
                }
                Morris.Donut({
                    element: 'morris-donut-chart',
                    data: lista,
                    resize: true
                });
            }
        });
       

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "ListaAtividadesDisciplina",
            data: { idAluno: @ViewBag.idAluno },
            success: function (dados) {
                if(dados.listaAtividadesDisciplina.length == 0){
                    return;
                }
                var lista = [];
                for(var i in dados.listaAtividadesDisciplina){
                    var obj = dados.listaAtividadesDisciplina[i];
                    lista.push({y:obj.Descricao, a:obj.QtdAtividades, b:obj.QtdAvaliacoes});
                }
                Morris.Bar({
                    element: 'morris-bar-chart-Disciplina',
                    data: lista,
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['Avaliacoes','Atividades'],
                    hideHover: 'auto',
                    resize: true
                });
            }
        });

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "ListaCorretasDisciplina",
            data: { idAluno: @ViewBag.idAluno },
            success: function (dados) {
                if(dados.listaCorretasDisciplina.length == 0){
                    return;
                }
                var lista = [];
                for(var i in dados.listaCorretasDisciplina){
                    var obj = dados.listaCorretasDisciplina[i];
                    lista.push({y:obj.Disciplina, b:obj.QtdCorretas});
                }
                Morris.Bar({
                    element: 'morris-bar-chart-Acertos',
                    data: lista,
                    xkey: 'y',
                    ykeys: ['b'],
                    labels: ['Acertos'],
                    hideHover: 'auto',
                    resize: true
                });
            }
        });

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "ListaErradasDisciplina",
            data: { idAluno: @ViewBag.idAluno },
            success: function (dados) {
                if(dados.listaErradasDisciplina.length == 0){
                    return;
                }
                var lista = [];
                for(var i in dados.listaErradasDisciplina){
                    var obj = dados.listaErradasDisciplina[i];
                    lista.push({y:obj.Disciplina, b:obj.QtdErradas});
                }
                Morris.Bar({
                    element: 'morris-bar-chart-Erros',
                    data: lista,
                    xkey: 'y',
                    ykeys: ['b'],
                    labels: ['Erros'],
                    hideHover: 'auto',
                    resize: true
                });
            }
        });

        //Morris.Bar({
        //    element: 'morris-bar-chart',
        //    data: [{
        //        y: 'Disciplina1',
        //        b: 90
        //    }, {
        //        y: 'Disciplina2',
        //        b: 65
        //    }, {
        //        y: 'Disciplina3',
        //        b: 40
        //    }, {
        //        y: 'Disciplina4',
        //        b: 65
        //    }],
        //    xkey: 'y',
        //    ykeys: ['b'],
        //    labels: ['Erros'],
        //    hideHover: 'auto',
        //    resize: true
        //});


        //Morris.Bar({
        //    element: 'morris-bar-chart',
        //    data: [{
        //        y: 'Disciplina1',
        //        a: 100,
        //        b: 90
        //    }, {
        //        y: 'Disciplina2',
        //        a: 75,
        //        b: 65
        //    }, {
        //        y: 'Disciplina3',
        //        a: 50,
        //        b: 40
        //    }, {
        //        y: 'Disciplina4',
        //        a: 75,
        //        b: 65
        //    }],
        //    xkey: 'y',
        //    ykeys: ['a', 'b'],
        //    labels: ['Atividades', 'Avaliações'],
        //    hideHover: 'auto',
        //    resize: true
        //});

        

           
    };
</script>
