@model IEnumerable<Aprendizado.Entity.Tema>

@{
    ViewBag.Title = "Temas";
}

<h2>Temas</h2>

@ViewBag.qtdErros de POO

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idDisciplina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idDisciplina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTema }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTema }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTema })
        </td>
    </tr>
}

</table>
