@model IEnumerable<Aprendizado.Entity.Disciplina>


<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Gerenciamento de Disciplinas
                </h1>
                <h2><small>@Html.ActionLink("Incluir", "Edit", new { id = 0 }, new { @class = "btn btn-default", @style = "color:#09192A "})</small></h2>
                    <br />
            </div>
        </div>
        <!-- /. ROW  -->

        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                     <tr>


        <th>
            @Html.DisplayNameFor(model =>   model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Descricao)
        </th>

        <th>
            Professores
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Descricao)
        </td>

        <td>
            @Html.ActionLink("Professores", "ListaProfessorDisciplina", new { idDisciplina = item.idDisciplina })
        </td>

        <td>
           @Html.ActionLink("Editar", "Edit", new { id=item.idDisciplina }, new { @class = "btn btn-default", @style = "color:#09192A "}) &nbsp &nbsp
            @Html.ActionLink("Excluir", "Delete", new { id = item.idDisciplina }, new { @class = "btn btn-default", @style = "color:#09192A ", @onclick = "return confirm('Tem certeza que deseja excluir?')" })
        </td>
    </tr>
}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
    </div>
</div>

