@model IEnumerable<Aprendizado.Entity.Alternativa>

@{
    ViewBag.Title = "ListaAlternativas";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Gerenciamento de Perguntas<small> - Alternativas da pergunta @ViewBag.DescricaoP - </small>
                </h1>
                @Html.ActionLink("Nova Alternativa", "EditAlternativa", new { idAlternativa = 0, idPergunta = @ViewBag.idPergunta }, new { @class = "btn btn-default", @style = "color:#09192A "})
                <br /><br />
            </div>
        </div>
        <!-- /. ROW  -->

        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Descricao)
                                        </th>

                                        <th>Correta
                                        </th>

                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descricao)
                                            </td>
                                            <td>
                                                @if (item.idAlternativa == item.Pergunta.Correta)
                                                {
                                                    <img src="~/Images/Icones/correto.png" width="10%" />
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink("Escolher como Correta", "EscolheCorreta", new { idAlternativa = item.idAlternativa, idPergunta = @ViewBag.idPergunta }, new { @class = "btn btn-default", @style = "color:#09192A "})
                                                @Html.ActionLink("Editar", "EditAlternativa",new { idAlternativa = item.idAlternativa, idPergunta = @ViewBag.idPergunta }, new { @class = "btn btn-default", @style = "color:#09192A "})
                                                @Html.ActionLink("Excluir", "DeleteAlternativa", new { idAlternativa = item.idAlternativa }, new { @onclick = "return confirm('Confirma Exclusão?');", @class = "btn btn-default", @style = "color:#09192A "})
                                            </td>
                                            <td></td>
                                            
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
    </div>
</div>

