@model Aprendizado.Entity.Professor

@{
    ViewBag.Title = "Edit";
}

<h2>ViewBag.Titulo</h2>

@using (Html.BeginForm()) {

    <fieldset>
        <legend>Professor</legend>

        @Html.HiddenFor(model => model.idProfessor)
        @Html.HiddenFor(model => model.PessoaId)
        @Html.HiddenFor(model => model.Pessoa.EnderecoId)
        @Html.HiddenFor(model => model.Pessoa.TelefoneId)
        @Html.HiddenFor(model => model.Pessoa.IdUsuario)

        <div class="editor-label">
            Nome
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Nome)
        </div>

        <div class="editor-label">
            Nascimento
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Nascimento)
        </div>

        <div class="editor-label">
            Usuario
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Usuario.Login)
        </div>

        <div class="editor-label">
            Senha
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Usuario.Senha)
        </div>

        <div class="editor-label">
            Estado
        </div>
        <div class="editor-field">
            @Html.DropDownList("Estado")
        </div>

        <div class="editor-label">
            Cidade
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cidade")
        </div>

        <div class="editor-label">
            Logradouro
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Endereco.Logradouro)
        </div>

        <div class="editor-label">
            CEP
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Endereco.CEP)
        </div>

        <div class="editor-label">
            Numero
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Endereco.Numero)
        </div>

        <div class="editor-label">
            Complemento
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Endereco.Complemento)
        </div>


        <div class="editor-label">
            Tipo Telefone
        </div>
        <div class="editor-field">
            @Html.DropDownList("TipoTelefone")
        </div>

        <div class="editor-label">
            Telefone
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.Telefone.Numero)
        </div>

        <div class="editor-label">
            Especializacao
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Especializacao)
        </div>

        <p>
            <input type="submit" value="Salvar" onclick="return validar()" />
        </p>
    </fieldset>
}


<div>
    @Html.ActionLink("Voltar", "Index")
</div>
 
 
@if (ViewBag.Erro != null && ViewBag.Erro != "")
{
    <script>
        alert('@ViewBag.Erro');
    </script>
}

<script>
    function validar() {
        if ($("#Especializacao").val() == "") {
            alert('A Especializacao é obrigatória');
            return false;
        }

        return true;
    }
</script>